In [1]:
%load_ext sql

In [2]:
# Quel est le film le plus long ?

In [3]:
%%sql sqlite:///../database/imdb.db
SELECT title, screening FROM movies
ORDER BY screening DESC
LIMIT 1

Done.

[('Seven Samurai', 207)]

In [4]:
# Quels sont les 5 films les mieux notés ?

In [5]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
ORDER BY mark DESC
LIMIT 5

Done.

[('The Shawshank Redemption', 9.3),
 ('Dune: Part Two', 8.9),
 ('Fight Club', 8.8),
 ('The Good, The Bad And The Ugly', 8.8),
 ('Forrest Gump', 8.8)]

In [6]:
# Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [7]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Morgan Freeman%'

Done.

[('The Shawshank Redemption', 'Mark Rolston, Jude Ciccolella, Clancy Brown, Brian Libby, Joseph Ragno, Bob Gunton, Larry Brandenburg, David Proval, Gil Bellows, James Whitmore, Jeffrey DeMunn, Tim Robbins, Renee Blaine, Paul McCrane, Neil Giuntoli, Scott Mann, William Sadler, Morgan Freeman'),
 ('Se7En', 'Andrew Kevin Walker, Daniel Zacapa, Reg E. Cathey, Endre Hules, Jimmy Dale Hartsell, Kevin Spacey, Gwyneth Paltrow, John Cassini, Bob Mack, William Davidson, Brad Pitt, Peter Crombie, Richard Roundtree, Hawthorne James, Bob Collins, R. Lee Ermey, George Christy, Morgan Freeman')]

In [8]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Tom Cruise%'

Done.

[]

In [9]:
# Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?

In [10]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Horror%'
ORDER BY mark DESC
LIMIT 3

Done.

[('The Exorcist', 8.1)]

In [11]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Drama%'
ORDER BY mark DESC
LIMIT 3

Done.

[('The Shawshank Redemption', 9.3),
 ('Dune: Part Two', 8.9),
 ('Fight Club', 8.8)]

In [12]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Comedy%'
ORDER BY mark DESC
LIMIT 3

Done.

[('It Happened One Night', 8.1),
 ('To Be Or Not To Be', 8.1),
 ('Stand By Me', 8.1)]

In [13]:
# Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [14]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%United States%'

Done.

[(38, 'United States')]

In [15]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
GROUP BY country
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%France%'

Done.

[(2, 'France, United States')]

In [16]:
# Quel est la durée moyenne d’un film en fonction du genre ?

In [17]:
%%sql sqlite:///../database/imdb.db
SELECT category, round(AVG(screening)) as mean_screening FROM movies
GROUP BY category
ORDER BY mean_screening DESC

Done.

[('Action, Drama', 207.0),
 ('Adventure, Drama, Western', 181.0),
 ('Adventure, Western', 178.0),
 ('Action, Adventure, Drama', 173.0),
 ('Drama, Romance, War', 170.0),
 ('Adventure, Drama, Sci-Fi', 169.0),
 ('Drama, Thriller', 154.0),
 ('Adventure, Biography, Drama', 148.0),
 ('Drama, Romance, Thriller', 145.0),
 ('Biography, Crime, Drama', 145.0),
 ('Action, Drama, Sci-Fi', 137.0),
 ('Drama', 136.0),
 ('Action, Sci-Fi', 136.0),
 ('Action, Adventure, Fantasy', 134.0),
 ('Biography, Drama, Family', 133.0),
 ('Drama, Mystery, Romance', 130.0),
 ('Drama, Family, Fantasy', 130.0),
 ('Action, Adventure, Sci-Fi', 128.0),
 ('Crime, Drama, Mystery', 127.0),
 ('Action, Biography, Drama', 123.0),
 ('Horror', 122.0),
 ('Drama, War', 121.0),
 ('Crime, Drama, Thriller', 118.0),
 ('Comedy, Crime', 117.0),
 ('Biography, Drama, History', 114.0),
 ('Crime, Drama', 113.0),
 ('Drama, Family', 112.0),
 ('Drama, Romance', 111.0),
 ('Comedy, Romance', 105.0),
 ('Adventure, Family, Fantasy', 102.0),
 ('Comedy, Drama, Fantasy', 101.0),
 ('Animation, Action, Adventure', 101.0),
 ('Comedy, Romance, War', 99.0),
 ('Animation, Adventure, Comedy', 90.0),
 ('Adventure, Comedy, Drama', 89.0)]

In [18]:
# En fonction du genre, afficher la liste des films les plus longs.

In [19]:
%%sql sqlite:///../database/imdb.db
SELECT title, category, MAX(screening) FROM movies
GROUP BY category
ORDER BY MAX(screening) DESC

Done.

[('Seven Samurai', 'Action, Drama', 207),
 ('Dances With Wolves', 'Adventure, Drama, Western', 181),
 ('The Lord Of The Rings: The Two Towers', 'Action, Adventure, Drama', 179),
 ('The Good, The Bad And The Ugly', 'Adventure, Western', 178),
 ('The Sound Of Music', 'Biography, Drama, Family', 172),
 ('The Best Years Of Our Lives', 'Drama, Romance, War', 170),
 ('Interstellar', 'Adventure, Drama, Sci-Fi', 169),
 ('Amores Perros', 'Drama, Thriller', 154),
 ('Into The Wild', 'Adventure, Biography, Drama', 148),
 ('Inception', 'Action, Adventure, Sci-Fi', 148),
 ('The Help', 'Drama', 146),
 ('The Handmaiden', 'Drama, Romance, Thriller', 145),
 ('Goodfellas', 'Biography, Crime, Drama', 145),
 ('Pirates Of The Caribbean: The Curse Of The Black Pearl', 'Action, Adventure, Fantasy', 143),
 ('Forrest Gump', 'Drama, Romance', 142),
 ('Logan', 'Action, Drama, Sci-Fi', 137),
 ('The Matrix', 'Action, Sci-Fi', 136),
 ('Rebecca', 'Drama, Mystery, Romance', 130),
 ("It'S A Wonderful Life", 'Drama, Family, Fantasy', 130),
 ('Se7En', 'Crime, Drama, Mystery', 127),
 ('Cool Hand Luke', 'Crime, Drama', 127),
 ('Rush', 'Action, Biography, Drama', 123),
 ('The Exorcist', 'Horror', 122),
 ('The Battle Of Algiers', 'Drama, War', 121),
 ('The Silence Of The Lambs', 'Crime, Drama, Thriller', 118),
 ('The Big Lebowski', 'Comedy, Crime', 117),
 ('The Incredibles', 'Animation, Action, Adventure', 115),
 ('The Passion Of Joan Of Arc', 'Biography, Drama, History', 114),
 ('My Father And My Son', 'Drama, Family', 112),
 ('It Happened One Night', 'Comedy, Romance', 105),
 ('The Wizard Of Oz', 'Adventure, Family, Fantasy', 102),
 ('Groundhog Day', 'Comedy, Drama, Fantasy', 101),
 ('To Be Or Not To Be', 'Comedy, Romance, War', 99),
 ('Aladdin', 'Animation, Adventure, Comedy', 90),
 ('Stand By Me', 'Adventure, Comedy, Drama', 89)]

In [20]:
# En fonction du genre, quel est le coût de tournage d’une minute de film ?

In [21]:
%%sql sqlite:///../database/imdb.db
SELECT screening, mean_screen, category, budget, mean_budget, (mean_budget/mean_screen) AS cost
FROM (
SELECT screening, avg(screening) AS mean_screen, category, budget, avg(budget) AS mean_budget FROM movies
GROUP BY category) AS subquery

Done.

[(179, 172.5, 'Action, Adventure, Drama', 94000000, 142000000.0, 823188.4057971014),
 (124, 133.5, 'Action, Adventure, Fantasy', 18000000, 79000000.0, 591760.2996254682),
 (148, 127.5, 'Action, Adventure, Sci-Fi', 160000000, 83200000.0, 652549.0196078431),
 (123, 123.0, 'Action, Biography, Drama', 38000000, 38000000.0, 308943.0894308943),
 (207, 207.0, 'Action, Drama', 833333, 833333.0, 4025.763285024155),
 (137, 137.0, 'Action, Drama, Sci-Fi', 97000000, 97000000.0, 708029.1970802919),
 (136, 136.0, 'Action, Sci-Fi', 63000000, 63000000.0, 463235.29411764705),
 (148, 148.0, 'Adventure, Biography, Drama', 15000000, 15000000.0, 101351.35135135135),
 (89, 89.0, 'Adventure, Comedy, Drama', 8000000, 8000000.0, 89887.6404494382),
 (169, 169.0, 'Adventure, Drama, Sci-Fi', 165000000, 165000000.0, 976331.3609467456),
 (181, 181.0, 'Adventure, Drama, Western', 22000000, 22000000.0, 121546.96132596685),
 (102, 102.0, 'Adventure, Family, Fantasy', 2777000, 2777000.0, 27225.49019607843),
 (178, 178.0, 'Adventure, Western', 1200000, 1200000.0, 6741.573033707865),
 (86, 100.5, 'Animation, Action, Adventure', 70000000, 81000000.0, 805970.1492537314),
 (90, 90.0, 'Animation, Adventure, Comedy', 28000000, 28000000.0, 311111.1111111111),
 (145, 145.0, 'Biography, Crime, Drama', 25000000, 25000000.0, 172413.7931034483),
 (172, 132.5, 'Biography, Drama, Family', 8200000, 12100000.0, 91320.75471698113),
 (114, 114.0, 'Biography, Drama, History', None, None, None),
 (117, 117.0, 'Comedy, Crime', 15000000, 15000000.0, 128205.1282051282),
 (101, 101.0, 'Comedy, Drama, Fantasy', 14600000, 14600000.0, 144554.45544554456),
 (105, 105.0, 'Comedy, Romance', 325000, 325000.0, 3095.2380952380954),
 (99, 99.0, 'Comedy, Romance, War', None, None, None),
 (127, 112.5, 'Crime, Drama', 3200000, 3011550.0, 26769.333333333332),
 (127, 127.0, 'Crime, Drama, Mystery', 33000000, 33000000.0, 259842.51968503938),
 (118, 118.0, 'Crime, Drama, Thriller', 19000000, 19000000.0, 161016.94915254237),
 (133, 136.2, 'Drama', 3000000, 23960000.0, 175917.76798825257),
 (112, 112.0, 'Drama, Family', None, None, None),
 (130, 130.0, 'Drama, Family, Fantasy', 3180000, 3180000.0, 24461.53846153846),
 (130, 130.0, 'Drama, Mystery, Romance', 1288000, 1288000.0, 9907.692307692309),
 (142, 111.0, 'Drama, Romance', 55000000, 28850000.0, 259909.9099099099),
 (145, 145.0, 'Drama, Romance, Thriller', 7500000, 7500000.0, 51724.137931034486),
 (170, 170.0, 'Drama, Romance, War', 2100000, 2100000.0, 12352.941176470587),
 (154, 154.0, 'Drama, Thriller', 2000000, 2000000.0, 12987.012987012988),
 (121, 121.0, 'Drama, War', 800000, 800000.0, 6611.570247933884),
 (122, 122.0, 'Horror', 11000000, 11000000.0, 90163.9344262295)]

In [22]:
# Quelles sont les séries les mieux notées ?

In [23]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM series
ORDER BY mark DESC
LIMIT 20

Done.

[('Breaking Bad', 9.5),
 ('Planet Earth II', 9.5),
 ('Bluey', 9.4),
 ('Band of Brothers', 9.4),
 ('Planet Earth', 9.4),
 ('Scam 1992: The Harshad Mehta Story', 9.3),
 ('Our Planet', 9.3),
 ('Cosmos', 9.3),
 ('Cosmos: A Spacetime Odyssey', 9.3),
 ('Blue Planet II', 9.3),
 ('Avatar: The Last Airbender', 9.3),
 ('The Wire', 9.3),
 ('Chernobyl', 9.3),
 ('Shōgun', 9.2),
 ('The World at War', 9.2),
 ('Game of Thrones', 9.2),
 ('Aspirants', 9.2),
 ('The Sopranos', 9.2),
 ('The Vietnam War', 9.1),
 ('Sherlock', 9.1)]

In [24]:
# En fonction du genre, afficher la liste des séries les plus longues.

In [25]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_seasons, nb_episodes FROM series
ORDER BY nb_seasons DESC
LIMIT 10

Done.

[('The Simpsons', 36, 764),
 ('South Park', 30, 330),
 ('QI', 21, 334),
 ("It's Always Sunny in Philadelphia", 18, 172),
 ('Taskmaster', 17, 161),
 ('Dragon Ball Z', 16, 277),
 ('Futurama', 14, 180),
 ('Archer', 14, 144),
 ('Doctor Who', 13, 175),
 ('Poirot', 13, 70)]

In [26]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_seasons, nb_episodes FROM series
ORDER BY nb_episodes DESC
LIMIT 10

Done.

[('One Piece', None, 1108),
 ('The Simpsons', 36, 764),
 ('Naruto: Shippuden', None, 501),
 ('Gintama', 8, 375),
 ('El Chavo del Ocho', 8, 357),
 ('Last Week Tonight with John Oliver', 11, 346),
 ('QI', 21, 334),
 ('South Park', 30, 330),
 ('Dragon Ball Z', None, 291),
 ('Adventure Time', 10, 289)]