In [1]:
%load_ext sql

In [2]:
# Quel est le film le plus long ?

In [3]:
%%sql sqlite:///../database/imdb.db
SELECT title, screening as movie_length_in_minutes FROM movies
ORDER BY screening DESC
LIMIT 1

Done.

[('Gangs Of Wasseypur', 321)]

In [4]:
# Quels sont les 5 films les mieux notés ?

In [5]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
ORDER BY mark DESC
LIMIT 5

Done.

[('The Shawshank Redemption', 9.3),
 ('The Godfather', 9.2),
 ('12Th Fail', 9.0),
 ('The Lord Of The Rings: The Return Of The King', 9.0),
 ("Schindler'S List", 9.0)]

In [6]:
# Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [7]:
%%sql sqlite:///../database/imdb.db
SELECT count(casting) as morgan_freeman_nb_of_films
FROM movies
WHERE casting LIKE '%Morgan Freeman%'

Done.

[(7,)]

In [8]:
%%sql sqlite:///../database/imdb.db
SELECT count(casting) as tom_cruise_nb_of_films FROM movies
WHERE casting LIKE '%Tom Cruise%'

Done.

[(1,)]

In [9]:
# Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?

In [10]:
%%sql sqlite:///../database/imdb.db
SELECT title as top3_horror_movies, mark FROM movies
WHERE category LIKE '%Horror%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Alien', 8.5), ('Psycho', 8.5), ('The Shining', 8.4)]

In [11]:
%%sql sqlite:///../database/imdb.db
SELECT title as top3_drama_movies, mark FROM movies
WHERE category LIKE '%Drama%'
ORDER BY mark DESC
LIMIT 3

Done.

[('The Shawshank Redemption', 9.3), ('The Godfather', 9.2), ('12Th Fail', 9.0)]

In [12]:
%%sql sqlite:///../database/imdb.db
SELECT title as top3_comedy_movies, mark FROM movies
WHERE category LIKE '%Comedy%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Life Is Beautiful', 8.6), ('City Lights', 8.5), ('Modern Times', 8.5)]

In [13]:
# Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [14]:
%%sql sqlite:///../database/imdb.db
SELECT count(title) as total_of_films, [country:1] as country
FROM
    (SELECT *
    FROM movies m
    JOIN countries c ON ',' || m.country || ',' LIKE '%' || c.country || '%,')
WHERE [country:1] LIKE '%United States%'

Done.

[(184, 'United States')]

In [15]:
%%sql sqlite:///../database/imdb.db
SELECT count(title) as total_of_films, [country:1] as country
FROM
    (SELECT *
    FROM movies m
    JOIN countries c ON ',' || m.country || ',' LIKE '%' || c.country || '%,')
WHERE [country:1] LIKE '%France%'

Done.

[(22, 'France')]

In [16]:
# Quel est la durée moyenne d’un film en fonction du genre ?

In [17]:
%%sql sqlite:///../database/imdb.db
SELECT movie_category, round(avg(screening)) as movie_length_in_minutes_mean
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%')
GROUP BY movie_category

Done.

[('Action', 141.0),
 ('Adventure', 131.0),
 ('Animation', 103.0),
 ('Biography', 145.0),
 ('Comedy', 111.0),
 ('Crime', 135.0),
 ('Drama', 135.0),
 ('Family', 114.0),
 ('Fantasy', 124.0),
 ('Film-Noir', 103.0),
 ('History', 143.0),
 ('Horror', 121.0),
 ('Music', 134.0),
 ('Musical', 103.0),
 ('Mystery', 124.0),
 ('Romance', 123.0),
 ('Sci-Fi', 132.0),
 ('Sport', 123.0),
 ('Thriller', 125.0),
 ('War', 142.0),
 ('Western', 154.0)]

In [18]:
# En fonction du genre, afficher la liste des films les plus longs.

In [19]:
%%sql sqlite:///../database/imdb.db
SELECT title, max(screening) as max_movie_length_in_minutes, movie_category
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%'
)
GROUP BY movie_category
ORDER BY max(screening) DESC

Done.

[('Gangs Of Wasseypur', 321, 'Action'),
 ('Gangs Of Wasseypur', 321, 'Comedy'),
 ('Gangs Of Wasseypur', 321, 'Crime'),
 ('Gone With The Wind', 238, 'Drama'),
 ('Gone With The Wind', 238, 'Romance'),
 ('Gone With The Wind', 238, 'War'),
 ('Lawrence Of Arabia', 218, 'Adventure'),
 ('Lawrence Of Arabia', 218, 'Biography'),
 ("Schindler'S List", 195, 'History'),
 ('The Green Mile', 189, 'Fantasy'),
 ('Dances With Wolves', 181, 'Western'),
 ('The Sound Of Music', 172, 'Family'),
 ('The Great Escape', 172, 'Thriller'),
 ('Interstellar', 169, 'Sci-Fi'),
 ('Amadeus', 160, 'Music'),
 ('Prisoners', 153, 'Mystery'),
 ('The Shining', 146, 'Horror'),
 ('Spider-Man: Across The Spider-Verse', 140, 'Animation'),
 ('Warrior', 140, 'Sport'),
 ('Sunset Blvd.', 110, 'Film-Noir'),
 ("Singin' In The Rain", 103, 'Musical')]

In [20]:
# En fonction du genre, quel est le coût de tournage d’une minute de film ?

In [21]:
%%sql sqlite:///../database/imdb.db
SELECT screening as movie_length, round(avg(screening)) AS movie_length_mean, movie_category, budget, round(avg(budget)/avg(screening)) AS mean_budget_for_one_minute
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%')
GROUP BY movie_category
ORDER BY mean_budget_for_one_minute DESC

Done.

[(90, 103.0, 'Animation', 28000000, 848784.0),
 (207, 141.0, 'Action', 833333, 593090.0),
 (169, 131.0, 'Adventure', 165000000, 575353.0),
 (169, 132.0, 'Sci-Fi', 165000000, 477498.0),
 (130, 124.0, 'Fantasy', 3180000, 363564.0),
 (130, 114.0, 'Family', 3180000, 304033.0),
 (321, 111.0, 'Comedy', 2208000, 277072.0),
 (169, 135.0, 'Drama', 165000000, 229483.0),
 (118, 125.0, 'Thriller', 19000000, 224872.0),
 (145, 145.0, 'Biography', 25000000, 195327.0),
 (145, 135.0, 'Crime', 25000000, 186103.0),
 (114, 143.0, 'History', None, 159555.0),
 (99, 142.0, 'War', None, 150938.0),
 (127, 124.0, 'Mystery', 33000000, 149536.0),
 (89, 123.0, 'Sport', 180000, 149347.0),
 (178, 154.0, 'Western', 1200000, 135622.0),
 (121, 134.0, 'Music', 2883848, 110212.0),
 (122, 121.0, 'Horror', 11000000, 94207.0),
 (142, 123.0, 'Romance', 55000000, 60876.0),
 (103, 103.0, 'Musical', 2540800, 24668.0),
 (93, 103.0, 'Film-Noir', None, 12964.0)]

In [22]:
# Quelles sont les séries les mieux notées ?

In [23]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM series
ORDER BY mark DESC
LIMIT 20

Done.

[('Breaking Bad', 9.5),
 ('Planet Earth II', 9.5),
 ('Bluey', 9.4),
 ('Band of Brothers', 9.4),
 ('Planet Earth', 9.4),
 ('Our Planet', 9.3),
 ('Cosmos', 9.3),
 ('Scam 1992: The Harshad Mehta Story', 9.3),
 ('Cosmos: A Spacetime Odyssey', 9.3),
 ('Blue Planet II', 9.3),
 ('Avatar: The Last Airbender', 9.3),
 ('Chernobyl', 9.3),
 ('The Wire', 9.3),
 ('Shōgun', 9.2),
 ('The World at War', 9.2),
 ('Game of Thrones', 9.2),
 ('Aspirants', 9.2),
 ('The Sopranos', 9.2),
 ('Sherlock', 9.1),
 ('The Last Dance', 9.1)]

In [24]:
# En fonction du genre, afficher la liste des séries les plus longues.

In [25]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_seasons FROM series
ORDER BY nb_seasons DESC
LIMIT 10

Done.

[('The Simpsons', 36),
 ('South Park', 30),
 ('QI', 21),
 ("It's Always Sunny in Philadelphia", 18),
 ('Taskmaster', 17),
 ('Dragon Ball Z', 16),
 ('Futurama', 14),
 ('Archer', 14),
 ('Doctor Who', 13),
 ('Poirot', 13)]

In [26]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_episodes FROM series
ORDER BY nb_episodes DESC
LIMIT 10

Done.

[('One Piece', 1108),
 ('The Simpsons', 764),
 ('Naruto: Shippuden', 501),
 ('Gintama', 375),
 ('El Chavo del Ocho', 357),
 ('Last Week Tonight with John Oliver', 346),
 ('QI', 334),
 ('South Park', 330),
 ('Dragon Ball Z', 291),
 ('Adventure Time', 289)]