In [1]:
%load_ext sql

In [2]:
# Quel est le film le plus long ?

In [3]:
%%sql sqlite:///../database/imdb.db
SELECT title, screening FROM movies
ORDER BY screening DESC
LIMIT 1

Done.

[('Gone With The Wind', 238)]

In [4]:
# Quels sont les 5 films les mieux notés ?

In [5]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
ORDER BY mark DESC
LIMIT 5

Done.

[('The Shawshank Redemption', 9.3),
 ('The Godfather', 9.2),
 ('12Th Fail', 9.0),
 ('The Lord Of The Rings: The Return Of The King', 9.0),
 ("Schindler'S List", 9.0)]

In [6]:
# Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [7]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Morgan Freeman%'

Done.

[('The Shawshank Redemption', 'Bob Gunton, Renee Blaine, Scott Mann, Morgan Freeman, Gil Bellows, Jude Ciccolella, William Sadler, Clancy Brown, Neil Giuntoli, David Proval, Brian Libby, Tim Robbins, Joseph Ragno, Paul McCrane, Jeffrey DeMunn, James Whitmore, Mark Rolston, Larry Brandenburg'),
 ('Million Dollar Baby', 'Clint Eastwood, Riki Lindhome, Morgan Freeman, Benito Martinez, Jay Baruchel, Brían F. OByrne, Bruce MacVittie, Hilary Swank, Tom McCleister, Lucia Rijker, Joe DAngerio, Mike Colter, David Powledge, Erica Grant, Marcus Chait, Anthony Mackie, Michael Peña, Margo Martindale'),
 ('Unforgiven', 'Clint Eastwood, Rob Campbell, Cherrilene Cardinal, Morgan Freeman, David Mucci, Beverley Elliott, Anna Thomson, Jaimz Woolvett, Liisa Repo-Martell, Anthony James, Shane Meier, Saul Rubinek, Tara Frederick, Josie Smith, Aline Levasseur, Frances Fisher, Gene Hackman, Richard Harris'),
 ('Batman Begins', 'Ken Watanabe, Gerard Murphy, Christian Bale, Rutger Hauer, Morgan Freeman, Mark Boone Junior, Larry Holden, Sara Stewart, Colin McFarlane, Katie Holmes, Cillian Murphy, Liam Neeson, Michael Caine, Linus Roache, Richard Brake, Tom Wilkinson, Gary Oldman, Gus Lewis'),
 ('The Dark Knight Rises', 'Tom Hardy, Brett Cullen, Christian Bale, Morgan Freeman, Alon Aboutboul, Ben Mendelsohn, Daniel Sunjata, Sam Kennard, Burn Gorman, Michael Caine, Aliash Tepina, Matthew Modine, Marion Cotillard, Anne Hathaway, Aidan Gillen, Nestor Carbonell, Gary Oldman, Joseph Gordon-Levitt'),
 ('Se7En', 'Hawthorne James, R. Lee Ermey, Brad Pitt, Morgan Freeman, Jimmy Dale Hartsell, Gwyneth Paltrow, Bob Mack, George Christy, Andrew Kevin Walker, Reg E. Cathey, Bob Collins, Kevin Spacey, Richard Roundtree, Peter Crombie, Daniel Zacapa, William Davidson, John Cassini, Endre Hules'),
 ('The Dark Knight', 'Chin Han, Heath Ledger, Nestor Carbonell, Christian Bale, Morgan Freeman, Keith Szarabajka, Anthony Michael Hall, Eric Roberts, Colin McFarlane, Maggie Gyllenhaal, Monique Gabriela Curnen, Cillian Murphy, Aaron Eckhart, Michael Caine, Ritchie Coster, Ron Dean, Joshua Harto, Gary Oldman')]

In [8]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Tom Cruise%'

Done.

[('Top Gun: Maverick', 'Lewis Pullman, Tom Cruise, Kara Wang, Greg Tarzan Davis, Jack Schumacher, Charles Parnell, Raymond Lee, Jon Hamm, Miles Teller, Jennifer Connelly, Val Kilmer, Jay Ellis, Danny Ramirez, Monica Barbaro, Glen Powell, Manny Jacinto, Jake Picking, Bashir Salahuddin')]

In [9]:
# Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?

In [10]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Horror%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Psycho', 8.5), ('Alien', 8.5), ('The Shining', 8.4)]

In [11]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Drama%'
ORDER BY mark DESC
LIMIT 3

Done.

[('The Shawshank Redemption', 9.3), ('The Godfather', 9.2), ('12Th Fail', 9.0)]

In [12]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Comedy%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Life Is Beautiful', 8.6), ('Back To The Future', 8.5), ('City Lights', 8.5)]

In [13]:
# Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [14]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%United States%'

Done.

[(77, 'United States')]

In [15]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
GROUP BY country
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%France%'

Done.

[(17, 'Brazil, France, Germany')]

In [16]:
# Quel est la durée moyenne d’un film en fonction du genre ?

In [17]:
%%sql sqlite:///../database/imdb.db
SELECT movie_category, round(avg(screening)) as mean_screening
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%')
GROUP BY movie_category

Done.

[('Action', 137.0),
 ('Adventure', 132.0),
 ('Animation', 104.0),
 ('Biography', 145.0),
 ('Comedy', 106.0),
 ('Crime', 131.0),
 ('Drama', 135.0),
 ('Family', 114.0),
 ('Fantasy', 124.0),
 ('Film-Noir', 103.0),
 ('History', 143.0),
 ('Horror', 121.0),
 ('Music', 134.0),
 ('Musical', 103.0),
 ('Mystery', 124.0),
 ('Romance', 123.0),
 ('Sci-Fi', 132.0),
 ('Sport', 123.0),
 ('Thriller', 125.0),
 ('War', 142.0),
 ('Western', 154.0)]

In [18]:
# En fonction du genre, afficher la liste des films les plus longs.

In [19]:
%%sql sqlite:///../database/imdb.db
SELECT title, max(screening), movie_category
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%'
)
GROUP BY movie_category
ORDER BY max(screening) DESC

Done.

[('Gone With The Wind', 238, 'Drama'),
 ('Gone With The Wind', 238, 'Romance'),
 ('Gone With The Wind', 238, 'War'),
 ('Once Upon A Time In America', 229, 'Crime'),
 ('Lawrence Of Arabia', 218, 'Adventure'),
 ('Lawrence Of Arabia', 218, 'Biography'),
 ('Seven Samurai', 207, 'Action'),
 ("Schindler'S List", 195, 'History'),
 ('The Green Mile', 189, 'Fantasy'),
 ('Dances With Wolves', 181, 'Western'),
 ('The Sound Of Music', 172, 'Family'),
 ('The Great Escape', 172, 'Thriller'),
 ('3 Idiots', 170, 'Comedy'),
 ('Interstellar', 169, 'Sci-Fi'),
 ('Amadeus', 160, 'Music'),
 ('Prisoners', 153, 'Mystery'),
 ('The Shining', 146, 'Horror'),
 ('Spider-Man: Across The Spider-Verse', 140, 'Animation'),
 ('Warrior', 140, 'Sport'),
 ('Sunset Blvd.', 110, 'Film-Noir'),
 ("Singin' In The Rain", 103, 'Musical')]

In [20]:
# En fonction du genre, quel est le coût de tournage d’une minute de film ?

In [21]:
%%sql sqlite:///../database/imdb.db
SELECT screening, round(avg(screening)) AS mean_screen, movie_category, budget, round(avg(budget)/avg(screening)) AS mean_budget_for_one_minute
FROM (
    SELECT m.*, c.category AS movie_category
    FROM movies m
    JOIN categories c ON ',' || m.category || ',' LIKE '%' || c.category || ',%')
GROUP BY movie_category
ORDER BY mean_budget_for_one_minute DESC

Done.

[(140, 104.0, 'Animation', 150000000, 861222.0),
 (155, 137.0, 'Action', 103000000, 631313.0),
 (155, 132.0, 'Adventure', 103000000, 585425.0),
 (137, 132.0, 'Sci-Fi', 102000000, 477498.0),
 (189, 124.0, 'Fantasy', 60000000, 363564.0),
 (125, 114.0, 'Family', 19000000, 304033.0),
 (116, 106.0, 'Comedy', 20000000, 297258.0),
 (155, 135.0, 'Drama', 103000000, 232611.0),
 (132, 125.0, 'Thriller', 11400000, 224872.0),
 (189, 131.0, 'Crime', 60000000, 195425.0),
 (150, 145.0, 'Biography', 35000000, 195327.0),
 (114, 143.0, 'History', None, 159555.0),
 (169, 142.0, 'War', 70000000, 150938.0),
 (109, 124.0, 'Mystery', 806947, 149536.0),
 (89, 123.0, 'Sport', 180000, 149347.0),
 (181, 154.0, 'Western', 22000000, 135622.0),
 (150, 134.0, 'Music', 35000000, 110212.0),
 (109, 121.0, 'Horror', 806947, 94207.0),
 (116, 123.0, 'Romance', 20000000, 60876.0),
 (103, 103.0, 'Musical', 2540800, 24668.0),
 (93, 103.0, 'Film-Noir', None, 12964.0)]

In [22]:
# Quelles sont les séries les mieux notées ?

In [23]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM series
ORDER BY mark DESC
LIMIT 20

Done.

[('Breaking Bad', 9.5),
 ('Planet Earth II', 9.5),
 ('Bluey', 9.4),
 ('Band of Brothers', 9.4),
 ('Planet Earth', 9.4),
 ('Scam 1992: The Harshad Mehta Story', 9.3),
 ('Our Planet', 9.3),
 ('Cosmos', 9.3),
 ('Cosmos: A Spacetime Odyssey', 9.3),
 ('Avatar: The Last Airbender', 9.3),
 ('The Wire', 9.3),
 ('Blue Planet II', 9.3),
 ('Chernobyl', 9.3),
 ('Aspirants', 9.2),
 ('Shōgun', 9.2),
 ('The World at War', 9.2),
 ('Game of Thrones', 9.2),
 ('The Sopranos', 9.2),
 ('Gullak', 9.1),
 ('Reply 1988', 9.1)]

In [24]:
# En fonction du genre, afficher la liste des séries les plus longues.

In [25]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_seasons, nb_episodes FROM series
ORDER BY nb_seasons DESC
LIMIT 10

Done.

[('The Simpsons', 36, 764),
 ('South Park', 30, 330),
 ('QI', 21, 334),
 ("It's Always Sunny in Philadelphia", 18, 172),
 ('Taskmaster', 17, 161),
 ('Dragon Ball Z', 16, 277),
 ('Futurama', 14, 180),
 ('Archer', 14, 144),
 ('Doctor Who', 13, 175),
 ('Poirot', 13, 70)]

In [26]:
%%sql sqlite:///../database/imdb.db
SELECT title, nb_seasons, nb_episodes FROM series
ORDER BY nb_episodes DESC
LIMIT 10

Done.

[('One Piece', None, 1108),
 ('The Simpsons', 36, 764),
 ('Naruto: Shippuden', None, 501),
 ('Gintama', 8, 375),
 ('El Chavo del Ocho', 8, 357),
 ('Last Week Tonight with John Oliver', 11, 346),
 ('QI', 21, 334),
 ('South Park', 30, 330),
 ('Dragon Ball Z', None, 291),
 ('Adventure Time', 10, 289)]