In [1]:
%load_ext sql

In [2]:
# Quel est le film le plus long ?

In [24]:
%%sql sqlite:///../database/imdb.db
SELECT title, screening FROM movies
ORDER BY screening DESC
LIMIT 1

Done.

[('Gone With The Wind', 238)]

In [4]:
# Quels sont les 5 films les mieux notés ?

In [5]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
ORDER BY mark DESC
LIMIT 5

Done.

[('The Shawshank Redemption', 9.3),
 ('The Godfather', 9.2),
 ('12 Angry Men', 9.0),
 ("Schindler'S List", 9.0),
 ('The Lord Of The Rings: The Return Of The King', 9.0)]

In [6]:
# Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [7]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Morgan Freeman%'

Done.

[('Se7En', 'Bob Mack, Morgan Freeman, Jimmy Dale Hartsell, Gwyneth Paltrow, Daniel Zacapa, Kevin Spacey, Bob Collins, R. Lee Ermey, George Christy, Reg E. Cathey, Andrew Kevin Walker, John Cassini, Peter Crombie, Hawthorne James, Endre Hules, William Davidson, Richard Roundtree, Brad Pitt'),
 ('The Shawshank Redemption', 'James Whitmore, Clancy Brown, Larry Brandenburg, Morgan Freeman, Bob Gunton, Gil Bellows, Brian Libby, Renee Blaine, Scott Mann, Joseph Ragno, William Sadler, Paul McCrane, Tim Robbins, Jeffrey DeMunn, David Proval, Mark Rolston, Jude Ciccolella, Neil Giuntoli'),
 ('Million Dollar Baby', 'Morgan Freeman, Joe DAngerio, Clint Eastwood, Benito Martinez, Michael Peña, Hilary Swank, Jay Baruchel, Brían F. OByrne, Bruce MacVittie, Marcus Chait, Tom McCleister, Erica Grant, Lucia Rijker, Margo Martindale, Mike Colter, Riki Lindhome, David Powledge, Anthony Mackie'),
 ('Unforgiven', 'Jaimz Woolvett, Richard Harris, Shane Meier, Morgan Freeman, Anna Thomson, Gene Hackman, Frances Fisher, Clint Eastwood, David Mucci, Anthony James, Rob Campbell, Tara Frederick, Saul Rubinek, Beverley Elliott, Liisa Repo-Martell, Aline Levasseur, Cherrilene Cardinal, Josie Smith'),
 ('Batman Begins', 'Ken Watanabe, Katie Holmes, Tom Wilkinson, Morgan Freeman, Gerard Murphy, Cillian Murphy, Christian Bale, Rutger Hauer, Sara Stewart, Michael Caine, Richard Brake, Liam Neeson, Colin McFarlane, Gus Lewis, Larry Holden, Linus Roache, Mark Boone Junior, Gary Oldman'),
 ('The Dark Knight Rises', 'Ben Mendelsohn, Morgan Freeman, Christian Bale, Aliash Tepina, Michael Caine, Anne Hathaway, Alon Aboutboul, Daniel Sunjata, Brett Cullen, Joseph Gordon-Levitt, Sam Kennard, Nestor Carbonell, Marion Cotillard, Tom Hardy, Aidan Gillen, Gary Oldman, Burn Gorman, Matthew Modine'),
 ('The Dark Knight', 'Aaron Eckhart, Maggie Gyllenhaal, Morgan Freeman, Eric Roberts, Cillian Murphy, Christian Bale, Ron Dean, Heath Ledger, Michael Caine, Monique Gabriela Curnen, Chin Han, Anthony Michael Hall, Keith Szarabajka, Joshua Harto, Colin McFarlane, Nestor Carbonell, Ritchie Coster, Gary Oldman')]

In [8]:
%%sql sqlite:///../database/imdb.db
SELECT title, casting FROM movies
WHERE casting LIKE '%Tom Cruise%'

Done.

[('Top Gun: Maverick', 'Tom Cruise, Kara Wang, Miles Teller, Jay Ellis, Greg Tarzan Davis, Jennifer Connelly, Bashir Salahuddin, Danny Ramirez, Jon Hamm, Jake Picking, Monica Barbaro, Raymond Lee, Manny Jacinto, Jack Schumacher, Glen Powell, Charles Parnell, Lewis Pullman, Val Kilmer')]

In [9]:
# Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?

In [30]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Horror%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Alien', 8.5), ('Psycho', 8.5), ('The Shining', 8.4)]

In [31]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Drama%'
ORDER BY mark DESC
LIMIT 3

Done.

[('The Shawshank Redemption', 9.3),
 ('The Godfather', 9.2),
 ('12 Angry Men', 9.0)]

In [32]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM movies
WHERE category LIKE '%Comedy%'
ORDER BY mark DESC
LIMIT 3

Done.

[('Life Is Beautiful', 8.6), ('City Lights', 8.5), ('The Intouchables', 8.5)]

In [13]:
# Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [38]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%United States%'

Done.

[(78, 'United States')]

In [40]:
%%sql sqlite:///../database/imdb.db
SELECT count(title), country FROM (
SELECT title, mark, country FROM movies
GROUP BY country
ORDER BY mark DESC
LIMIT 100) AS top_100
WHERE country LIKE '%France%'

Done.

[(16, 'Brazil, France, Germany')]

In [16]:
# Quel est la durée moyenne d’un film en fonction du genre ?

In [43]:
%%sql sqlite:///../database/imdb.db
SELECT category, round(AVG(screening)) as mean_screening FROM movies
GROUP BY category
ORDER BY mean_screening DESC

Done.

[('Adventure, Drama', 212.0),
 ('Crime, Drama, Fantasy', 189.0),
 ('Adventure, Biography, Drama', 183.0),
 ('Biography, Drama, War', 178.0),
 ('Adventure, Western', 178.0),
 ('Drama, Romance, War', 170.0),
 ('Adventure, Drama, Sci-Fi', 169.0),
 ('Action, Drama', 169.0),
 ('Action, Adventure, Drama', 169.0),
 ('Western', 166.0),
 ('Adventure, Drama, War', 166.0),
 ('Biography, Drama, Music', 155.0),
 ('Adventure, Drama, Western', 154.0),
 ('Drama, Sci-Fi', 153.0),
 ('Adventure, Drama, Thriller', 152.0),
 ('Adventure, Sci-Fi', 149.0),
 ('Crime, Drama', 148.0),
 ('Drama, Horror', 146.0),
 ('Drama, Romance, Thriller', 145.0),
 ('Action, Biography, Drama', 145.0),
 ('Drama, War', 143.0),
 ('Biography, Drama, History', 143.0),
 ('Action, Crime, Drama', 143.0),
 ('Drama, Western', 142.0),
 ('Drama, Thriller, War', 142.0),
 ('Action, Drama, War', 140.0),
 ('Action, Drama, Sport', 140.0),
 ('Drama, Mystery, War', 139.0),
 ('Drama, Family', 137.0),
 ('Biography, Crime, Drama', 137.0),
 ('Action, Drama, Thriller', 137.0),
 ('Crime, Sci-Fi', 136.0),
 ('Action, Sci-Fi', 136.0),
 ('Action, Adventure, Mystery', 136.0),
 ('Drama, Thriller', 135.0),
 ('Biography, Drama, Mystery', 135.0),
 ('Action, Adventure, Sci-Fi', 134.0),
 ('Biography, Drama, Family', 133.0),
 ('Action, Drama, Mystery', 133.0),
 ('Action, Adventure, Fantasy', 133.0),
 ('Drama, Sport', 132.0),
 ('Action, Thriller', 132.0),
 ('Drama, Mystery, Thriller', 131.0),
 ('Drama, Mystery, Sci-Fi', 130.0),
 ('Drama, Mystery, Romance', 130.0),
 ('Drama, Family, Fantasy', 130.0),
 ('Biography, Comedy, Drama', 130.0),
 ('Biography, Drama, Sport', 129.0),
 ('Action, Drama, Sci-Fi', 129.0),
 ('Mystery, Romance, Thriller', 128.0),
 ('Comedy, Drama', 128.0),
 ('Drama', 126.0),
 ('Crime, Drama, Mystery', 125.0),
 ('Comedy, Drama, War', 125.0),
 ('Crime, Drama, Thriller', 124.0),
 ('Biography, Drama', 124.0),
 ('Adventure, Mystery, Thriller', 124.0),
 ('Horror', 122.0),
 ('Comedy, Drama, Thriller', 122.0),
 ('Comedy, Crime, Drama', 122.0),
 ('Mystery, Thriller', 121.0),
 ('Comedy, Music, Romance', 121.0),
 ('Action, Adventure', 121.0),
 ('Drama, Romance', 119.0),
 ('Drama, Fantasy, War', 118.0),
 ('Horror, Sci-Fi', 117.0),
 ('Adventure, Family, Fantasy', 116.0),
 ('Adventure, Comedy, Sci-Fi', 116.0),
 ('Animation, Action, Adventure', 115.0),
 ('Comedy, Romance', 114.0),
 ('Animation, Adventure, Family', 114.0),
 ('Action, Crime, Thriller', 111.0),
 ('Drama, Film-Noir', 110.0),
 ('Comedy, Crime', 110.0),
 ('Horror, Mystery, Thriller', 109.0),
 ('Horror, Mystery, Sci-Fi', 109.0),
 ('Drama, Romance, Sci-Fi', 108.0),
 ('Drama, Mystery', 108.0),
 ('Crime, Drama, Film-Noir', 107.0),
 ('Action, Comedy, Crime', 107.0),
 ('Drama, Music', 106.0),
 ('Animation, Drama, Fantasy', 106.0),
 ('Comedy, Drama, Romance', 104.0),
 ('Comedy, Musical, Romance', 103.0),
 ('Crime, Thriller', 101.0),
 ('Comedy, Drama, Fantasy', 101.0),
 ('Crime, Mystery, Thriller', 99.0),
 ('Comedy, Romance, War', 99.0),
 ('Adventure, Comedy, Crime', 99.0),
 ('Animation, Adventure, Drama', 97.0),
 ('Drama, Fantasy', 96.0),
 ('Animation, Adventure, Comedy', 96.0),
 ('Comedy, War', 95.0),
 ('Film-Noir, Mystery, Thriller', 93.0),
 ('Animation, Comedy, Drama', 92.0),
 ('Adventure, Comedy, Drama', 92.0),
 ('Adventure, Comedy, Fantasy', 91.0),
 ('Drama, Family, Sport', 89.0),
 ('Animation, Drama, War', 89.0),
 ('Animation, Comedy, Family', 86.0),
 ('Action, Adventure, Comedy', 78.0),
 ('Comedy, Drama, Family', 68.0)]

In [18]:
# En fonction du genre, afficher la liste des films les plus longs.

In [27]:
%%sql sqlite:///../database/imdb.db
SELECT title, category, MAX(screening) FROM movies
GROUP BY category
ORDER BY MAX(screening) DESC

Done.

[('Gone With The Wind', 'Drama, Romance, War', 238),
 ('Once Upon A Time In America', 'Crime, Drama', 229),
 ('Lawrence Of Arabia', 'Adventure, Biography, Drama', 218),
 ('Ben-Hur', 'Adventure, Drama', 212),
 ('Seven Samurai', 'Action, Drama', 207),
 ('The Lord Of The Rings: The Return Of The King', 'Action, Adventure, Drama', 201),
 ("Schindler'S List", 'Biography, Drama, History', 195),
 ('The Green Mile', 'Crime, Drama, Fantasy', 189),
 ('Barry Lyndon', 'Adventure, Drama, War', 185),
 ('The Deer Hunter', 'Drama, War', 183),
 ('Dances With Wolves', 'Adventure, Drama, Western', 181),
 ('Braveheart', 'Biography, Drama, War', 178),
 ('The Good, The Bad And The Ugly', 'Adventure, Western', 178),
 ('Cinema Paradiso', 'Drama, Romance', 174),
 ('The Sound Of Music', 'Biography, Drama, Family', 172),
 ('The Great Escape', 'Adventure, Drama, Thriller', 172),
 ('3 Idiots', 'Comedy, Drama', 170),
 ('Heat', 'Action, Crime, Drama', 170),
 ('Interstellar', 'Adventure, Drama, Sci-Fi', 169),
 ('Once Upon A Time In The West', 'Western', 166),
 ('Django Unchained', 'Drama, Western', 165),
 ('The Dark Knight Rises', 'Action, Drama, Thriller', 164),
 ('Like Stars On Earth', 'Drama, Family', 162),
 ('Dangal', 'Action, Biography, Drama', 161),
 ('Amadeus', 'Biography, Drama, Music', 160),
 ('Ran', 'Action, Drama, War', 160),
 ('There Will Be Blood', 'Drama', 158),
 ('Amores Perros', 'Drama, Thriller', 154),
 ('Metropolis', 'Drama, Sci-Fi', 153),
 ('Prisoners', 'Crime, Drama, Mystery', 153),
 ('The Departed', 'Crime, Drama, Thriller', 151),
 ('Gone Girl', 'Drama, Mystery, Thriller', 149),
 ('2001: A Space Odyssey', 'Adventure, Sci-Fi', 149),
 ('Avengers: Infinity War', 'Action, Adventure, Sci-Fi', 149),
 ('Spider-Man: No Way Home', 'Action, Adventure, Fantasy', 148),
 ('Apocalypse Now', 'Drama, Mystery, War', 147),
 ('The Shining', 'Drama, Horror', 146),
 ('The Handmaiden', 'Drama, Romance, Thriller', 145),
 ('Goodfellas', 'Biography, Crime, Drama', 145),
 ('Come And See', 'Drama, Thriller, War', 142),
 ('Spider-Man: Across The Spider-Verse', 'Animation, Action, Adventure', 140),
 ('Warrior', 'Action, Drama, Sport', 140),
 ('Shutter Island', 'Mystery, Thriller', 138),
 ('Logan', 'Action, Drama, Sci-Fi', 137),
 ('A Clockwork Orange', 'Crime, Sci-Fi', 136),
 ('The Matrix', 'Action, Sci-Fi', 136),
 ('North By Northwest', 'Action, Adventure, Mystery', 136),
 ('A Beautiful Mind', 'Biography, Drama, Mystery', 135),
 ('Harakiri', 'Action, Drama, Mystery', 133),
 ('Million Dollar Baby', 'Drama, Sport', 132),
 ('Die Hard', 'Action, Thriller', 132),
 ('The Prestige', 'Drama, Mystery, Sci-Fi', 130),
 ('Rebecca', 'Drama, Mystery, Romance', 130),
 ("It'S A Wonderful Life", 'Drama, Family, Fantasy', 130),
 ('Green Book', 'Biography, Comedy, Drama', 130),
 ('Harry Potter And The Deathly Hallows: Part 2', 'Adventure, Family, Fantasy', 130),
 ('The Sting', 'Comedy, Crime, Drama', 129),
 ('Raging Bull', 'Biography, Drama, Sport', 129),
 ('Vertigo', 'Mystery, Romance, Thriller', 128),
 ('Indiana Jones And The Last Crusade', 'Action, Adventure', 127),
 ('The Great Dictator', 'Comedy, Drama, War', 125),
 ('The Apartment', 'Comedy, Drama, Romance', 125),
 ('Spirited Away', 'Animation, Adventure, Family', 125),
 ('The Elephant Man', 'Biography, Drama', 124),
 ('Jaws', 'Adventure, Mystery, Thriller', 124),
 ('The Exorcist', 'Horror', 122),
 ('Amélie', 'Comedy, Romance', 122),
 ('Wild Tales', 'Comedy, Drama, Thriller', 122),
 ('Some Like It Hot', 'Comedy, Music, Romance', 121),
 ('Citizen Kane', 'Drama, Mystery', 119),
 ("Pan'S Labyrinth", 'Drama, Fantasy, War', 118),
 ('Alien', 'Horror, Sci-Fi', 117),
 ('The Big Lebowski', 'Comedy, Crime', 117),
 ('Back To The Future', 'Adventure, Comedy, Sci-Fi', 116),
 ('Ratatouille', 'Animation, Adventure, Comedy', 111),
 ('Kill Bill: Vol. 1', 'Action, Crime, Thriller', 111),
 ('Sunset Blvd.', 'Drama, Film-Noir', 110),
 ('Psycho', 'Horror, Mystery, Thriller', 109),
 ('The Thing', 'Horror, Mystery, Sci-Fi', 109),
 ('Eternal Sunshine Of The Spotless Mind', 'Drama, Romance, Sci-Fi', 108),
 ('Double Indemnity', 'Crime, Drama, Film-Noir', 107),
 ('Lock, Stock And Two Smoking Barrels', 'Action, Comedy, Crime', 107),
 ('Whiplash', 'Drama, Music', 106),
 ('Your Name.', 'Animation, Drama, Fantasy', 106),
 ('Dial M For Murder', 'Crime, Thriller', 105),
 ('Coco', 'Animation, Adventure, Drama', 105),
 ("Singin' In The Rain", 'Comedy, Musical, Romance', 103),
 ('Groundhog Day', 'Comedy, Drama, Fantasy', 101),
 ('M', 'Crime, Mystery, Thriller', 99),
 ('To Be Or Not To Be', 'Comedy, Romance, War', 99),
 ('The Grand Budapest Hotel', 'Adventure, Comedy, Crime', 99),
 ('The Seventh Seal', 'Drama, Fantasy', 96),
 ('Dr. Strangelove Or: How I Learned To Stop Worrying And Love The Bomb', 'Comedy, War', 95),
 ('The Gold Rush', 'Adventure, Comedy, Drama', 95),
 ('The Third Man', 'Film-Noir, Mystery, Thriller', 93),
 ('Mary And Max', 'Animation, Comedy, Drama', 92),
 ('Monty Python And The Holy Grail', 'Adventure, Comedy, Fantasy', 91),
 ('Children Of Heaven', 'Drama, Family, Sport', 89),
 ('Grave Of The Fireflies', 'Animation, Drama, War', 89),
 ('My Neighbor Totoro', 'Animation, Comedy, Family', 86),
 ('The General', 'Action, Adventure, Comedy', 78),
 ('The Kid', 'Comedy, Drama, Family', 68)]

In [20]:
# En fonction du genre, quel est le coût de tournage d’une minute de film ?

In [36]:
%%sql sqlite:///../database/imdb.db
SELECT screening, mean_screen, category, budget, mean_budget, (mean_budget/mean_screen) AS cost
FROM (
SELECT screening, avg(screening) AS mean_screen, category, budget, avg(budget) AS mean_budget FROM movies
GROUP BY category) AS subquery

Done.

[(127, 121.0, 'Action, Adventure', 48000000, 33000000.0, 272727.2727272727),
 (78, 78.0, 'Action, Adventure, Comedy', 750000, 750000.0, 9615.384615384615),
 (166, 169.14285714285714, 'Action, Adventure, Drama', 190000000, 135000000.0, 798141.891891892),
 (124, 133.4, 'Action, Adventure, Fantasy', 18000000, 80300000.0, 601949.0254872564),
 (136, 136.0, 'Action, Adventure, Mystery', 3101000, 3101000.0, 22801.470588235294),
 (148, 134.16666666666666, 'Action, Adventure, Sci-Fi', 160000000, 111816666.66666667, 833416.1490683231),
 (123, 145.33333333333334, 'Action, Biography, Drama', 38000000, 48000000.0, 330275.2293577981),
 (107, 107.0, 'Action, Comedy, Crime', 1219200, 1219200.0, 11394.392523364486),
 (140, 143.0, 'Action, Crime, Drama', 150000000, 103350000.0, 722727.2727272727),
 (111, 111.0, 'Action, Crime, Thriller', 30000000, 30000000.0, 270270.2702702703),
 (207, 168.5, 'Action, Drama', 833333, 85416666.5, 506923.8367952522),
 (133, 133.0, 'Action, Drama, Mystery', None, None, None),
 (137, 128.66666666666666, 'Action, Drama, Sci-Fi', 97000000, 59666666.666666664, 463730.5699481865),
 (140, 140.0, 'Action, Drama, Sport', 25000000, 25000000.0, 178571.42857142858),
 (110, 137.0, 'Action, Drama, Thriller', None, 250000000.0, 1824817.5182481753),
 (160, 139.5, 'Action, Drama, War', 11500000, 53250000.0, 381720.4301075269),
 (136, 136.0, 'Action, Sci-Fi', 63000000, 63000000.0, 463235.29411764705),
 (132, 132.0, 'Action, Thriller', 28000000, 28000000.0, 212121.21212121213),
 (148, 183.0, 'Adventure, Biography, Drama', 15000000, 15000000.0, 81967.2131147541),
 (99, 99.0, 'Adventure, Comedy, Crime', 25000000, 25000000.0, 252525.25252525252),
 (89, 92.0, 'Adventure, Comedy, Drama', 8000000, 4461500.0, 48494.565217391304),
 (91, 91.0, 'Adventure, Comedy, Fantasy', 291560, 291560.0, 3203.956043956044),
 (116, 116.0, 'Adventure, Comedy, Sci-Fi', 19000000, 19000000.0, 163793.10344827586),
 (212, 212.0, 'Adventure, Drama', 15000000, 15000000.0, 70754.71698113208),
 (169, 169.0, 'Adventure, Drama, Sci-Fi', 165000000, 165000000.0, 976331.3609467456),
 (131, 151.5, 'Adventure, Drama, Thriller', None, 4000000.0, 26402.640264026402),
 (185, 166.33333333333334, 'Adventure, Drama, War', 11000000, 28000000.0, 168336.67334669337),
 (181, 153.5, 'Adventure, Drama, Western', 22000000, 12500000.0, 81433.22475570033),
 (102, 116.0, 'Adventure, Family, Fantasy', 2777000, 63888500.0, 550762.9310344828),
 (124, 124.0, 'Adventure, Mystery, Thriller', 7000000, 7000000.0, 56451.6129032258),
 (149, 149.0, 'Adventure, Sci-Fi', 12000000, 12000000.0, 80536.91275167785),
 (178, 178.0, 'Adventure, Western', 1200000, 1200000.0, 6741.573033707865),
 (86, 115.0, 'Animation, Action, Adventure', 70000000, 97166666.66666667, 844927.5362318842),
 (90, 96.0, 'Animation, Adventure, Comedy', 28000000, 120875000.0, 1259114.5833333333),
 (105, 96.5, 'Animation, Adventure, Drama', 175000000, 110000000.0, 1139896.3730569948),
 (119, 114.0, 'Animation, Adventure, Family', 24000000, 74333333.33333333, 652046.7836257309),
 (92, 92.0, 'Animation, Comedy, Drama', 5356000, 5356000.0, 58217.391304347824),
 (86, 86.0, 'Animation, Comedy, Family', 3700000, 3700000.0, 43023.25581395349),
 (106, 106.0, 'Animation, Drama, Fantasy', 2466666, 2466666.0, 23270.43396226415),
 (89, 89.0, 'Animation, Drama, War', 3700000, 3700000.0, 41573.03370786517),
 (130, 130.0, 'Biography, Comedy, Drama', 23000000, 23000000.0, 176923.07692307694),
 (145, 137.0, 'Biography, Crime, Drama', 25000000, 27500000.0, 200729.92700729927),
 (124, 124.0, 'Biography, Drama', 5000000, 5000000.0, 40322.58064516129),
 (172, 132.5, 'Biography, Drama, Family', 8200000, 12100000.0, 91320.75471698113),
 (114, 143.16666666666666, 'Biography, Drama, History', None, 22843000.0, 159555.29685681025),
 (160, 155.0, 'Biography, Drama, Music', 18000000, 26500000.0, 170967.74193548388),
 (135, 135.0, 'Biography, Drama, Mystery', 58000000, 58000000.0, 429629.6296296296),
 (129, 129.0, 'Biography, Drama, Sport', 18000000, 18000000.0, 139534.88372093023),
 (178, 178.0, 'Biography, Drama, War', 72000000, 72000000.0, 404494.3820224719),
 (117, 109.5, 'Comedy, Crime', 15000000, 11310000.0, 103287.67123287672),
 (115, 122.0, 'Comedy, Crime, Drama', 15000000, 10250000.0, 84016.39344262295),
 (129, 128.4, 'Comedy, Drama', 1900000, 19051000.0, 148372.27414330217),
 (68, 68.0, 'Comedy, Drama, Family', 250000, 250000.0, 3676.470588235294),
 (101, 101.0, 'Comedy, Drama, Fantasy', 14600000, 14600000.0, 144554.45544554456),
 (125, 103.75, 'Comedy, Drama, Romance', 3000000, 6500000.0, 62650.60240963855),
 (122, 122.0, 'Comedy, Drama, Thriller', 3300000, 3300000.0, 27049.180327868853),
 (125, 125.0, 'Comedy, Drama, War', 2000000, 2000000.0, 16000.0),
 (121, 121.0, 'Comedy, Music, Romance', 2883848, 2883848.0, 23833.454545454544),
 (103, 103.0, 'Comedy, Musical, Romance', 2540800, 2540800.0, 24667.961165048542),
 (105, 113.5, 'Comedy, Romance', 325000, 5162500.0, 45484.58149779736),
 (99, 99.0, 'Comedy, Romance, War', None, None, None),
 (95, 95.0, 'Comedy, War', 1800000, 1800000.0, 18947.36842105263),
 (127, 147.76923076923077, 'Crime, Drama', 3200000, 12641007.692307692, 85545.60124934929),
 (189, 189.0, 'Crime, Drama, Fantasy', 60000000, 60000000.0, 317460.31746031746),
 (107, 107.0, 'Crime, Drama, Film-Noir', 927262, 927262.0, 8666.0),
 (127, 125.375, 'Crime, Drama, Mystery', 33000000, 18007142.85714286, 143626.26406494802),
 (118, 124.2, 'Crime, Drama, Thriller', 19000000, 37982000.0, 305813.2045088567),
 (99, 99.0, 'Crime, Mystery, Thriller', None, None, None),
 (136, 136.0, 'Crime, Sci-Fi', 2200000, 2200000.0, 16176.470588235294),
 (98, 100.66666666666667, 'Crime, Thriller', 7000000, 3200000.0, 31788.079470198674),
 (133, 126.0, 'Drama', 3000000, 13882533.333333334, 110178.83597883598),
 (112, 137.0, 'Drama, Family', None, None, None),
 (130, 130.0, 'Drama, Family, Fantasy', 3180000, 3180000.0, 24461.53846153846),
 (89, 89.0, 'Drama, Family, Sport', 180000, 180000.0, 2022.4719101123596),
 (96, 96.0, 'Drama, Fantasy', 150000, 150000.0, 1562.5),
 (118, 118.0, 'Drama, Fantasy, War', 19000000, 19000000.0, 161016.94915254237),
 (110, 110.0, 'Drama, Film-Noir', 1752000, 1752000.0, 15927.272727272728),
 (146, 146.0, 'Drama, Horror', 19000000, 19000000.0, 130136.98630136986),
 (106, 106.0, 'Drama, Music', 3300000, 3300000.0, 31132.075471698114),
 (97, 108.0, 'Drama, Mystery', 6000000, 3419863.5, 31665.402777777777),
 (130, 129.5, 'Drama, Mystery, Romance', 1288000, 1644000.0, 12694.980694980695),
 (130, 130.0, 'Drama, Mystery, Sci-Fi', 40000000, 40000000.0, 307692.3076923077),
 (149, 130.75, 'Drama, Mystery, Thriller', 61000000, 27250000.0, 208413.00191204587),
 (131, 139.0, 'Drama, Mystery, War', 6800000, 19150000.0, 137769.78417266186),
 (142, 119.0, 'Drama, Romance', 55000000, 15040000.0, 126386.55462184874),
 (108, 108.0, 'Drama, Romance, Sci-Fi', 20000000, 20000000.0, 185185.1851851852),
 (145, 145.0, 'Drama, Romance, Thriller', 7500000, 7500000.0, 51724.137931034486),
 (170, 170.0, 'Drama, Romance, War', 2100000, 2342333.3333333335, 13778.431372549021),
 (153, 153.0, 'Drama, Sci-Fi', 3329690, 3329690.0, 21762.679738562092),
 (132, 132.0, 'Drama, Sport', 30000000, 30000000.0, 227272.72727272726),
 (154, 134.66666666666666, 'Drama, Thriller', 2000000, 8800000.0, 65346.53465346535),
 (142, 142.0, 'Drama, Thriller, War', None, None, None),
 (121, 142.66666666666666, 'Drama, War', 800000, 19955833.333333332, 139877.33644859813),
 (130, 142.33333333333334, 'Drama, Western', 14400000, 38333333.333333336, 269320.8430913349),
 (93, 93.0, 'Film-Noir, Mystery, Thriller', None, None, None),
 (122, 122.0, 'Horror', 11000000, 11000000.0, 90163.9344262295),
 (109, 109.0, 'Horror, Mystery, Sci-Fi', 15000000, 15000000.0, 137614.67889908256),
 (109, 109.0, 'Horror, Mystery, Thriller', 806947, 806947.0, 7403.183486238532),
 (117, 117.0, 'Horror, Sci-Fi', 11000000, 11000000.0, 94017.09401709402),
 (128, 128.0, 'Mystery, Romance, Thriller', 2479000, 2479000.0, 19367.1875),
 (138, 121.0, 'Mystery, Thriller', 80000000, 30000000.0, 247933.88429752065),
 (166, 166.0, 'Western', 5000000, 5000000.0, 30120.481927710844)]

In [22]:
# Quelles sont les séries les mieux notées ?

In [42]:
%%sql sqlite:///../database/imdb.db
SELECT title, mark FROM series
ORDER BY mark DESC
LIMIT 20

Done.

[('Breaking Bad', '9.5'),
 ('Planet Earth II', '9.5'),
 ('Bluey', '9.4'),
 ('Band of Brothers', '9.4'),
 ('Planet Earth', '9.4'),
 ('Our Planet', '9.3'),
 ('Cosmos', '9.3'),
 ('Scam 1992: The Harshad Mehta Story', '9.3'),
 ('Cosmos: A Spacetime Odyssey', '9.3'),
 ('Avatar: The Last Airbender', '9.3'),
 ('The Wire', '9.3'),
 ('Blue Planet II', '9.3'),
 ('Chernobyl', '9.3'),
 ('Shōgun', '9.2'),
 ('Game of Thrones', '9.2'),
 ('The World at War', '9.2'),
 ('Aspirants', '9.2'),
 ('The Sopranos', '9.2'),
 ('The Vietnam War', '9.1'),
 ('Attack on Titan', '9.1')]